[2018-07-13 07:55] klevzoff opened #5 "Compilation error with gcc-7"
System: Ubuntu 18.04, gcc-7.3.0

When building latest master branch, the following error occurs:

[code]

Some searching reveals this was fixed in late 2016: https://github.com/fmtlib/fmt/issues/398
Any chance we can update or hotpatch the offending library?

I was able to build without errors earlier, but I guess that was before axom was added. I can live with previously built TPLs for now.

[2018-07-13 08:19] klevzoff opened #6 "Mathpresso compilation error with gcc-7"
System: Ubuntu-18.04, gcc-7.3.0

Trying to build Mathpresso tpl leads to:
[code]

Reason: `xlocale` was a nonstandard header and was removed from recent glibc: https://sourceware.org/glibc/wiki/Release/2.26#Removal_of_.27xlocale.h.27

This is not yet fixed in author's repo: https://github.com/kobalicek/mathpresso

Can we patch our version?

[2018-07-13 17:40] white238 commented on #5
You can untar axom and fix apply the fix then retar it.  I can fix it on Axom's end but I will be unable to test it since I don't have access to your system and it doesn't reproduce on mine.  The problem is (at least I think) CHAR_WIDTH is defined in some system header for you but not for most other platforms.

[2018-08-04 00:08] klevzoff commented on #5
Looks like Axom has been updated, and this is now resolved.

[2018-08-04 00:08] #5 closed

[2018-08-10 04:58] klevzoff opened #9 "Error when building silo"
System: Ubuntu 18.04, gcc-7.3.0 (reproduces on each of 3 Ubuntu systems I have, including a freshly installed one)

With some recent commits in `develop` (can't pinpoint the exact time, but seems some time during the last 2-3 weeks) I started getting the following error when building `silo`:
[code]
The library `libhdf5.a` exists in the expected location (`../install-default-release/hdf5`) and does

[2018-08-28 03:27] klevzoff opened #11 "Repeated runs of cmake do not work correctly"
Sometimes I need to run TPL cmake more than one time, for example if a library build failed and I need to change some parameters, or just debugging TPL-related problems.

Because `INSTALL_DIR` parameter is used in `ExternalProject_Add`, `cmake` creates installation directories for all libraries *before* they are actually built. If a library build fails or interrupted by user, its and all following

[2018-09-09 06:52] #9 closed

[2018-09-11 15:59] #6 closed

[2018-10-02 16:30] MatthiasCremon opened #14 "Add PETSc to the TPLs"
Since Hannah is starting on the integration of PETSc, it would need to be added to the TPLs.

Based on our discussion with Josh and Nicola yesterday, it seems like we should configure PETSc with HYPRE. PETSc can ship with the HYPRE library, but this may result in 2 HYPRE installs. There should be a way to point to the existing HYPRE install through CMake.

[2018-10-02 16:32] MatthiasCremon opened #15 "Merge bugfix/klevzoff/fix-mathpresso-apple into master"
Merging Sergey's fix for Mathpresso would allow mac users to compile the TPLs without checking out this branch.

I'm not sure if there is a compatibility issue with master though, I don't see a pull request for that branch.

[2018-10-02 17:03] klevzoff commented on #15
Randy has already merged it into master

[2018-10-02 17:06] MatthiasCremon commented on #15
@klevzoff I just saw the commit from yesterday! My bad.

[2018-10-02 17:06] #15 closed

[2018-10-05 16:54] castelletto1 opened #16 "Add PARMETIS and superLU (to enable direct solver via Hypre)"

[2018-10-05 16:59] castelletto1 opened #17 "Add METIS (used in PAMELA)"

[2018-10-29 02:36] klevzoff commented on #11
BUMP

Another instance where our current build system fails is when you need to rebuild only one library that depends on other. A fresh example is `hypre` depending on e.g. `superlu_dist`. If I simply delete `hypre` build/install folders and rerun cmake, I get:
[code]
despite the fact the `superlu_dist` has been successfully built and installed before!

This makes me think we should always call `E

[2018-10-29 03:21] klevzoff opened #21 "CHAI compilation errors"
When building GEOSX with clang-6 in debug against debug TPLs, seems to have appeared recently:
[code]
and
[code]

[2018-10-29 03:48] rrsettgast commented on #21
Can you post the compile line? "make VERBOSE=1"

[2018-10-29 04:07] #16 closed

[2018-10-29 05:39] klevzoff commented on #21
Full command line + error:
[code]

[2018-10-29 05:42] rrsettgast commented on #21
This is a cmake error. somehow axom is getting included as "-I" instead of "-isystem". warnings in tpl headers shouldn't show up. let me check our system. what cmake are you running?

[2018-10-29 05:47] klevzoff commented on #21
Just to reiterate, I'm building **debug** GEOSX against **debug** version of the TPLs (and only with clang). This is slightly nonstandard (I locally modified `SetupGeosxThirdParty.cmake` to make it happen), but I needed it to do some debugging of Trilinos stuff. This does **not** happen when I follow the standard path, which is building debug GEOSX against release TPLs. So this probably does not a

[2018-10-29 05:52] klevzoff commented on #21
@rrsettgast I see, so maybe what I did with CMake messed up something else:
[code]

I'm going to close the issue, since we don't really care about this warning

[2018-10-29 06:00] klevzoff commented on #21
The error disappeared after deleting the build dir and rebuilding from scratch... should've tried this in the first place

[2018-10-29 06:00] #21 closed

[2018-10-29 06:05] #17 closed

[2019-03-07 23:04] AntoineMazuyer opened #26 "Careful, openMPI 4.0 is not compatible with the HDF5 version in the tpl"
https://github.com/open-mpi/ompi/issues/6116

[2019-04-24 18:55] corbett5 opened #28 "Allow for system libraries"
When a host config directly defines the path to a tpl we should use that installation instead of building our own and also use that installation for any dependencies of that tpl. For example when using a system version of hdf5 we shouldn't build hdf5 and then we also need to build axom and conduit against that system version.

[2019-06-07 01:51] corbett5 opened #31 "Unify BLAS/LAPACK libraries"
Currently we have the option to either:
* Let cmake find the default blas / lapack (usually not optimized)
* Build the lapack-suite (not optimized)
* Link to MKL

Trilinos works with any of those options, but other packages do not. Hypre is currently building it's own suite and other TPLS might be as well.

https://github.com/hypre-space/hypre/blob/4b94dac55df1b73f2c092227a08036f7b4797162/src/conf

[2019-06-07 01:52] #26 closed

[2019-06-15 00:29] af1990 opened #33 "Use of git-lfs"
To download all tarballs, after the main repo clone, you need to type:
`git-lfs pull`
Of course, first of all, you need to install `git-lfs` command (git large file storage
https://git-lfs.github.com)

[2019-06-17 16:32] castelletto1 commented on #33
The Getting Started instructions have been updated (see issue #457 in the GEOSX repo).

[2019-06-17 17:13] rrsettgast commented on #33
I am fairly certain that you don't have to type `git-lfs pull`. Just `git lfs install` and then everything is normal git from there.

[2019-06-17 17:36] castelletto1 commented on #33
This is what I had to do to clone the TPLs on Ubuntu

[code]

[2019-06-17 17:55] castelletto1 commented on #33
@rrsettgast I tried what you suggest, it works fine.

[2019-06-17 17:59] rrsettgast commented on #33
this should work fine:
[code]
After the `git lfs install` it is just regular git...unless you want to add another file extension under lfs.

[2019-06-20 00:12] af1990 opened #34 "Blas/Lapack installation path"
On Ubuntu 18.04, `blas` and `lapack` are installed in the `lib` directory, not `lib64` as required according to:
https://github.com/GEOSX/thirdPartyLibs/blob/e2ad476dd5b05e51207a21a8a78c3e274c64afa4/CMakeLists.txt#L100

[2019-06-20 15:31] af1990 commented on #34
I would change the main CMakeLists.txt as follows:

    # Check if system is using lib or lib64 as default library installation path
    get_property(LIB64 GLOBAL PROPERTY FIND_LIBRARY_USE_LIB64_PATHS)
    set(LIBSUFFIX "")
    if (${LIB64} STREQUAL TRUE AND ${CMAKE_SYSTEM_PROCESSOR} STREQUAL "x86_64")
        set(LIBSUFFIX 64)
    endif()

    # Use the lapack_suite for trilinos. The last define

[2019-06-20 15:32] af1990 commented on #34
I tested it on both system (with lib and lib64 as default) and it works.
Both of them are Linux, I don't have a Mac for this test.

[2019-06-20 16:52] rrsettgast commented on #34
@af1990 can you put your changes up in a PR?

[2019-06-20 18:05] herve-gross opened #35 "Linking to system Lapack/Blas - Mac OS 10.14.5"
Here is the linking error I get when trying to compile the TPLs:

[code]

[2019-06-20 18:15] #31 closed

[2019-06-20 18:18] corbett5 commented on #34
@af1990 I agree put them in a PR, but your proposed changes look good to me!

[2019-06-20 18:21] corbett5 commented on #35
Can you post all of the output from the Trilinos configure step? It should say where it's looking for BLAS and LAPACK and where it found them.

[2019-06-20 18:23] corbett5 commented on #35
And the tpl configure output please.

[2019-06-20 18:35] herve-gross commented on #35
Here is the Trilinos configure step output:

[code]

[2019-06-20 18:37] herve-gross commented on #35
And here are TPL config outputs:

[code]

[2019-06-20 18:47] corbett5 commented on #35
Thanks! So Trilinos isn't finding the blas in the lapack_suite. Does `/Users/j0529096/Documents/code/thirdPartyLibs/install-default-release/lapack_suite/lib64` exit? Do the blas and lapack libraries exist there? If they exist under the `lib` directory than #34 should fix this.

[2019-06-20 18:52] af1990 commented on #34
Now it is PR #36

[2019-06-20 22:08] herve-gross commented on #35
I just did a fresh pull (which includes the lib64 fix). Now I have a different error:

[code]
I did what Stackoverflow recommended (rebooting my machine and trying again) to no avail. Any clue?

[2019-06-20 22:20] corbett5 commented on #35
Did you pass a definition of NUM_PROC to the config-build script? For example `./scripts/config-build.py -hc OSX.cmake -bt Release -DNUM_PROC=16`. The build command is `make -j NUM_PROC` and I changed `NUM_PROC` to default to "" which means make will not limit the number of jobs spawned. The lapack_suite contains a source file for every blas/lapack routine and has very few dependencies so make wil

[2019-06-20 22:23] herve-gross commented on #35
No, I did not pass NUM_PROC to the config-build script. I will try this (after I am done running make inside the lapack_suite folder). I will keep you posted, @corbett5 .

[2019-06-20 22:46] herve-gross commented on #35
OK, I have been able to build lapack_suite (by running make inside the build folder of lapack_suite). Now, I tried to run make on the TPLs again, at the root folder, and I end up with the same error due to Trilinos trying to use the system lapack. Of course, when I configured CMake, I did not have a local version of Lapack, hence the fall back to system libraries. How do I get out of this Catch 22

[2019-06-20 23:18] corbett5 commented on #35
Our tpls don't do to well with incremental builds unfortunately. You could go to `<build-dir>/trilinos/src/trilinos-buid` and run `cmake .`. This will reconfigure Trilinos, but since the cache is still present I'm not certain it will find the libraries in the lapack_suite. If that doesn't work you could try editing the cache yourself to point it to the right lapack/blas. However we want to make su

[2019-06-21 00:12] herve-gross commented on #35
Running CMake on trilinos-build alone was indeed not sufficient. Going the DNUM_PROC route omn a a fresh pull right now...

[2019-06-21 00:26] herve-gross commented on #35
Still the same problem, reverting to system lapack...

Here is the Trilinos config console output:

[code]

The error is the same again (mind the `usr/lib/libblas.dylib` at the end, showing that it tries to use system dynamic libs):

[code]

[2019-06-21 00:38] corbett5 commented on #35
:( The output from the Trilinos configure still included the following?
[code]

[2019-06-21 01:11] herve-gross commented on #35
This is what it includes:
(note the *64* being back...)

[code]

[2019-06-21 01:15] corbett5 commented on #35
Can you show me the output of `ls /Users/j0529096/Documents/code/thirdPartyLibs/install-default-release/lapack_suite/?

[2019-06-21 01:17] herve-gross commented on #35
[code]

[2019-06-21 01:24] corbett5 commented on #35
Ok so the CMake script isn't picking up that the library directory is `lib` not `lib64`. Are the changes from #36 present in your repo? If they are then I would talk with @af1990 to modify his changes to work on your system.

[2019-06-21 15:48] af1990 commented on #35
It seems that (at least) on MacOS, even if `FIND_LIBRARY_USE_LIB64_PATHS` is `TRUE`, the default cmake path for libraries is `lib`.
Maybe it happens also with other system, but I cannot check.

[2019-06-21 17:25] herve-gross commented on #35
If I force the folder path to not have the 64 suffix, I am able to go beyond in my compilation, but then I stumble on the error mentionned in [https://github.com/GEOSX/GEOSX/pull/470#issuecomment-504503904](https://github.com/GEOSX/GEOSX/pull/470#issuecomment-504503904)

[2019-06-21 22:31] herve-gross commented on #35
As a temporary fix, commenting `set(TRILINOS_EXTRA_ARGS ${TRILINOS_EXTRA_ARGS} -DHAVE_dggsvd3_POST=1 )` on line 122 of the TPL CMakeLists.txt seems to do the trick.

[2019-06-22 00:30] herve-gross commented on #35
OK, just to close this issue (at least temporarily), with the help of @af1990 we found that commenting
`set(TRILINOS_EXTRA_ARGS ${TRILINOS_EXTRA_ARGS} -DHAVE_dggsvd3_POST=1 )` on line 122 of TPL CMakeLists.txt does the trick. Probably not a permanent solution, though.

[2019-06-23 23:32] rrsettgast commented on #35
@herve-gross I reworked the build interaction with blas/lapack. Can you try again with the current GEOSX/develop and thirdPartyLibs/master?

[2019-06-24 18:44] herve-gross opened #41 "Errors and workaround suggestions for SuperLU, Silo, Mathpresso on IBM/NVidia"
Platform: IBM ppc64le
OS:       Red Hat Enterprise Linux Server 7.4 (Maipo)"
Kernel:   3.10.0-693.el7.ppc64le
CPU:      POWER8NVL (raw) 4023.000000MHz
Compiler: gcc/7.3.0
OpenMPI:  openmpi/2.1.5
CMake:    cmake/3.11.4
Python:   anaconda/python-2.7.13

GEOSX commit:          2f4bee2 2019-06-14 11:29:20
thirdPartyLibs commit: e2ad476 2019-06-13 15:57:16

Issue 1: In built target superlu_dist
-------

[2019-06-24 19:09] rrsettgast commented on #41
1) take a look at the host configs for lc systems. If you have pre-installed BLAS/LAPACK it would be good to specify the cmake variables:
[code]
If you need to build BLAS/LAPACK you need to set the `ENABLE_LAPACK_SUITE` to ON.

2) @markcmiller86 does this look familiar?

3) don't build mathpresso. I don't think it works for ibm. @corbett5 confirm?

[2019-06-24 19:09] corbett5 commented on #41
`asmjit` and by extension `mathpresso` doesn't work on PowerPC. See set(ENABLE_MATHPRESSO OFF CACHE BOOL "" FORCE)

[2019-06-24 19:10] corbett5 commented on #41
For SILO you need to specify the build type directly.
https://github.com/GEOSX/GEOSX/blob/2bc2ed3e189f069c8ba59d8036147afa16c261d4/host-configs/ray_blueos_3_ppc64le_ib-clang%40upstream.cmake#L7

[2019-06-24 19:22] corbett5 commented on #41
Note that the inclusion of the `cxx-utilities` host config.
https://github.com/GEOSX/cxx-utilities/blob/develop/host-configs/ray_blueos_3_ppc64le_ib-clang%40upstream.cmake

[2019-06-24 19:24] markcmiller86 commented on #41
I agree with @corbett5 ... you need to explicitly specify the build-type with `--build` argument and maybe `--host` too. This is because Silo's configure is whoefully out of date. Apologies.

[2019-06-25 20:20] msekachev commented on #41
Thank you @corbett5, thank you @markcmiller86 .
I pulled the codes and will report back the results.

[2019-06-27 18:06] AntoineMazuyer opened #43 "Very hard to compile with "low" memory computer"
My memory get often saturated when compiling the tpls on my laptop (and I have 8GB of memory)

when compiling trilinos (yes, him again), here is the result of the `top` command
[code]

I don't understand why there is so much cc1plus processes launches. I only have 4 core (8 threads) on my computer. Is there something to do in the CMakeLists to limit the number of triggered processes to the number

[2019-06-28 17:30] rrsettgast commented on #26
@corbett5 @AntoineMazuyer was this resolved?

[2019-06-28 17:31] AntoineMazuyer commented on #26
Well I just check on my rolling release distro, I have OpenMPI 4.0.1 installed and I have no problem.

[2019-06-28 17:41] CusiniM commented on #26
Interesting... I built an older OpenMPI and I do not get the error about non existing functions any more but with the newer one I definitely do...

[2019-07-05 15:15] af1990 opened #45 "Issues compiling TPLs (commit df7913e)"
I'm trying to compile the new TPLs, but I have some problems:
1) superlu_dist isn't able to link because of a missing library (`mpi_cxx`)
2) ./configure for hypre doesn't run

Possible overcomes:
1) add `${MPI_CXX_LIBRARIES}` to the list of dependencies of `superlu_dist_libs` targer in:
```SRC/CMakeLists.txt (line 152)```
in the unzipped superlu_dist folder (`build-default-release/superlu_dist/src

[2019-07-05 20:46] rrsettgast commented on #45
What system?

[2019-07-05 20:47] af1990 commented on #45
Oh ... sorry. I forget!
Ubuntu 18.04 + gcc-7.4.0 + cmake-3.10.2

[2019-07-05 20:48] rrsettgast commented on #43
When running the config-build add
-DNUM_PROCS=4

[2019-07-05 21:10] rrsettgast commented on #45
Can you try a newer cmake?

[2019-07-05 21:12] af1990 commented on #45
It's the default one with Ubuntu 18.04. If possible, I wouldn't change it.
Anyway, I can try another one. Which version?

[2019-07-05 22:06] af1990 commented on #45
I tried `cmake version 3.15.0-rc3` and it seems that the `HYPRE` issue is solved. Anyway, why are we using a command (source) specific of certain shells only, instead of cmake commands?
The `superlu_dist` issue is still the same.

[2019-07-08 16:26] corbett5 commented on #45
Hypre's cmake support is very limited. For example I don't believe you're able to specify which BLAS/LAPACK to link to. Furthermore cmake's parsing on `ExternalProject_Add` is such that it makes it impossible to pass the correct arguments to hypre's `configure` script.

Changing `source` to `.` sounds like a good solution.

As for superlu try reverting the lines specifying the `CMAKE_C_COMPILER` a

[2019-07-08 20:30] af1990 commented on #45
I tried your solution for `superlu` and it works!
I also agree on the `.` instead of `source`.

[2019-07-08 20:36] corbett5 commented on #45
Create a PR and we can fix this. Thanks!

[2019-08-07 14:20] settouati opened #49 "Linking issues when building axom"
Platform: Linux x86_64
OS: SUSE Linux Enterprise Server 11
Kernel: 3.0.101-0.47.55-default
CPU: Haswell 2.5GHz
Compiler: gcc/6.1.0
OpenMPI: openmpi/2.1.0
CMake: cmake/3.13.1
Python: epd/7.3-1

GEOSX commit: 008244b 2019-08-02 19:29:05
thirdPartyLibs commit: 858c174 2019-07-24 15:52:23

When building axom, I get the following linking error:
[code]

[2019-08-07 17:06] rrsettgast opened #50 "Create a spack configuration for the tpl's"
We would like have spack manage our tpls. So we need a working spack configuration file setup.

[2019-08-14 09:22] #49 closed, assigned to nobody

[2019-08-26 21:04] TotoGaz opened #51 "Create document elements for the third party libraries build"
Document the main patterns so a newcomer understand the global principles of the build.

[2019-08-30 17:40] TotoGaz opened #54 "Questions about the CI process"
Hi!

Several questions about the CI process.

- Does a DockerFile (or any information) exist for the https://hub.docker.com/r/geosx/compiler dockers images? They are the basis of all our dedicated docker slaves in the [docker folder](https://github.com/GEOSX/thirdPartyLibs/tree/master/docker).
- I could not find anything about the deployments on dockerhub. Is it an automatic process (maybe travis

[2019-08-30 21:56] rrsettgast commented on #54
dockers images (ubuntu18, centos7.5 & LC-toss3)? They are the basis of all our dedicated docker slaves in the [docker folder](https://github.com/GEOSX/thirdPartyLibs/tree/master/docker).

there is a repo that holds the `Dockerfile` for these builds.
https://github.com/GEOSX/dockerBuilds

I am planning to move all of these to the `thirdPartyLibs` repository so that we can have the CI builds deploy

[2019-09-10 17:34] Antoine948398 opened #57 "petsc does not compile with MPI > 3.0"
Hello,

It seems that PETSc use functions that are not supported anymore in MPI v4.0.1

[code]

Indeed, according to this comment:

https://github.com/open-mpi/ompi/blob/c672a51ccd09c7c0b208c912101e46ce391ab1e7/ompi/include/mpi.h.in#L2753

It does not exist anymore

[2019-09-10 18:02] #51 closed, assigned to TotoGaz

[2019-09-11 21:25] corbett5 opened #58 "Build petsc with our math libraries"
Currently petsc downloads scalapack via the `--download-scalapack` option. However we should be telling it to use the same BLAS+LAPACK as the rest of the code. We might have to do something similar to hypre, where we write out a script and then execute the script.

[2019-09-16 14:17] andrea-franceschini opened #63 "PETSc configure and geosx linking"
With the current `CMakeLists.txt`, I'm not able to compile PETSc.
I have an error during the PETSc configure:

`Warning! Incorrect argument type specified: -with-mpi=0 --download-ptscotch --with-superlu_dist-dir=/home/franc90/code/geosx/thirdPartyLibs/install-default-release/superlu_dist --with-parmetis-dir=/home/franc90/code/geosx/thirdPartyLibs/install-default-release/parmetis --with-hypre-dir=/

[2019-09-17 15:53] #58 closed, assigned to hmmorgan, rtmills

[2019-09-18 16:17] TotoGaz opened #67 "Add VTK output to a Laplace test case and complete the documentation accordingly"
When you first install GEOSX, you may want to run a simple case and be able to check that the result is valid. _This task is, imho, too complicated today_,
- because we have no reference in the getting started guide;
- because new comers may not be using visit; while paraview is a very spread tool.

Please add the VTK output to a Laplace test case and point to this test case in the getting started

[2019-09-18 16:53] #67 closed, assigned to Antoine948398

[2019-09-18 18:14] rrsettgast opened #68 "Implement a deployment strategy for OSX tpl's"
Currently for the osx CI, I have to:

1. manually build the tpls on my mac
2. tar up the install directory
3. upload the tar on dropbox
4. modify the `.travis.yml` script to have the correct dropbox link and filename

We need a better solution that doesn't involve me doing any of this. Currently the OSX TPL's build on travis, so 1-2 is automated. We just need to locate a place to put the tar file.

[2019-10-01 20:57] joshua-white opened #71 "Repository merge protection settings"
At some point, we should make the TPL repository have the same merge protection settings as GEOSX.  Not a big deal now, but definitely before the open release.

[2019-10-23 05:02] #68 closed, assigned to TotoGaz

[2019-10-28 22:11] TotoGaz opened #74 "Homogenize compiled TPL identifiers"
So far, the MacOSX precompiled binaries uploaded to GCP use the TRAVIS_BUILD_NUMBER (and some additional meta-information) to connect the tarball to its source code.
Even if the information is unique, it is not straightforward to link the deployed binaries to the associated source code.

The docker images use a date in a YYYY-MM-DD format. But this information is not unique (multiple builds shall

[2019-10-28 22:23] TotoGaz opened #75 "Make docker instances lighter"
It shall be possible to make some of the docker instances lighter.

[2019-11-01 19:25] TotoGaz opened #78 "Branch master does not build anymore"
See https://travis-ci.com/GEOSX/thirdPartyLibs/jobs/251947754 which is a triggered build of the current master (ba450c997e6f96690c62ec270b5f549d48676767).

The builds fails during the installation of some packages during the docker image building of ubuntus. For example

[code]

I guess we shall `apt-get update` in the Dockerfile.

[2019-11-13 19:23] #78 closed, assigned to TotoGaz

[2019-11-25 18:14] #75 closed, assigned to TotoGaz

[2019-11-25 18:16] #74 closed, assigned to TotoGaz

[2019-11-25 18:26] TotoGaz opened #83 "Remove legacy repositories"
Merging of https://github.com/GEOSX/thirdPartyLibs/pull/81 and https://github.com/GEOSX/GEOSX/pull/647 makes https://github.com/GEOSX/dockerBuilds and docker registry https://hub.docker.com/r/geosx/compiler useless.

They shall be deleted. Probably waiting a few days (maybe 1 or 2 weeks) to be sure that nothing is wrong would be wise.

https://hub.docker.com/r/geosx/ubuntu18.04-gcc7, https://hub.d

[2019-11-26 08:13] TotoGaz opened #84 "Automatic cleaning of dockerhub registries"
Implement the same cleaning policy for dockerhub registries than for OSX's tarballs.

[2020-01-31 00:14] TotoGaz opened #89 "Provide GEOSX_TPL_DIR for osx builds"
Docker linux builds have the env variable `GEOSX_TPL_DIR` provided.
This is not the case for osx builds who rely on implicit location to unpack TPLs.

Fix this by providing `GEOSX_TPL_DIR` as a meta-information from the GCP/GCS bucket.

[2020-02-23 21:48] andrea-franceschini opened #92 "Unexpected segmentation fault with hypre and SuperLU"
@castelletto1 has pointed my attention to the following issue.
Compiling `geosx` using _hypre_ linear algebra interface and running the integrated test [compositional_multiphase_wells_1d.xml](https://github.com/GEOSX/GEOSX/blob/develop/src/coreComponents/physicsSolvers/fluidFlow/integratedTests/compositionalMultiphaseWell/compositional_multiphase_wells_1d.xml), at the first linear system solution,

[2020-03-11 18:05] #89 closed, assigned to TotoGaz

[2020-05-05 04:26] castelletto1 opened #106 "TPLs on LC have PETSc disabled"
The latest version of the TPLs on LC (`/usr/gapps/GEOSX/thirdPartyLibs/2020-05-01`) have PETSc disabled and should be rebuilt.  Host configs need to be updated.

[2020-06-12 20:02] #106 closed, assigned to rrsettgast, corbett5, bmhan12

[2020-09-03 20:57] TotoGaz opened #122 "Replacing the current tplMirror"
We store in `thirdPartyLibs/tplMirror` all our third party bundles.
We want to remove this mirror and replace it with direct downloads to the official sites.

We do not want to put the link inside the `cmake` script and let `cmake` do the downloading for us.
We prefer to download the tarballs into the `tplMirror` location.
So we can download once and then more easily work off-line.

@rrsettgast As

[2020-10-19 18:49] ishovkun opened #136 "Issue compiling Trilinos"
I am unable to compile Trilinos.

My host-config: https://pastebin.com/mBuvcBVy
Trilinos build log (up to the first errors): https://pastebin.com/Apckm1ju
Log of the overall cmake run on TPL repo: https://pastebin.com/mF0ZnViy

Additional details:
Platform: Manjaro Linux
Compiler suite: gcc 10.2

Let me know should I post additional details.

[2020-10-19 19:00] ishovkun commented on #136
Pinging @klevzoff and @corbett5.

[2020-10-19 19:29] corbett5 commented on #136
Weird I've never seen that error before. Can you paste the contents of `packages/kokkos/cmake/KokkosCore_config.h.in`, `packages/kokkos/core/cmake/KokkosCore_config.h.in`, and `build-linux-gcc-release/trilinos/src/trilinos-build/KokkosCore_config.h`? The first two files should be in `build-linux-gcc-release/trilinos/src/trilinos-src/` or something like that.

[2020-10-19 19:30] klevzoff commented on #136
Never seen this either, but other people have: https://github.com/spack/spack/issues/16308

[2020-10-19 19:35] corbett5 commented on #136
Wow, nice find! Since they're using gcc9 that might be the issue, although it seems that this should be completely orthogonal to the compiler.

[2020-10-19 19:35] ishovkun commented on #136
The contents of packages/kokkos/core/cmake/KokkosCore_config.h.in:
[code]

[2020-10-19 19:37] ishovkun commented on #136
I do not see KokkosCore_config.h.in in packages/kokkos/cmake, but I do see a KokkosConfig.cmake.in. Do you want to see that?

[2020-10-19 19:39] ishovkun commented on #136
Here is the contents of build-linux-gcc-release/trilinos/src/trilinos-build/KokkosCore_config.h:
[code]

[2020-10-19 19:40] corbett5 commented on #136
Actually they're using `cmake@3.17` which is more likely to be the issue.

[2020-10-19 19:41] ishovkun commented on #136
I use cmake-3.18.1

[2020-10-19 19:41] corbett5 commented on #136
Yeah sorry I was looking at a newer version of Trilinos so `packages/kokkos/cmake/KokkosCore_config.h.in` doesn't exist. Can you try and install cmake 3.14.5 and see if that fixes it?

[2020-10-19 19:42] ishovkun commented on #136
I'll try.

[2020-10-19 19:43] corbett5 commented on #136
Once you've configured just do `make trilinos` again so you don't have to wait around for the other libraries to build.

[2020-10-19 19:52] klevzoff commented on #136
There's some indication that it might has something to with version of `make` 4.3: Debian added a custom patch earlier this year to work around it (but it's for an older trilinos release and obviously not backported into mainstream) https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=961708

On my system `make` is 4.2.1 and I'm not seeing the problem. Just to confirm, what is `make --version` for yo

[2020-10-19 19:54] ishovkun commented on #136
my Make is 4.3

[2020-10-19 19:55] klevzoff commented on #136
In fact looking at `build-linux-gcc-release/trilinos/src/trilinos/packages/kokkos/Makefile.kokkos` you can see where those backslashes come from. It might be the case that older `make` would interpret them as escape symbols and newer does not. I'm not sure why is it using that Makefile at all rather than fully relying on CMake-generated build system.

[2020-10-19 20:01] ishovkun commented on #136
@klevzoff So do you suggest to use an older make?

[2020-10-19 20:02] corbett5 commented on #136
Yeah I'd give that a try.

It's funny because it seems they're aware of some issue with make 4.3
https://github.com/trilinos/Trilinos/blob/4285cf9c76dcad84dcea1afe565006a6ae136bbe/packages/kokkos/Makefile.kokkos#L446

[2020-10-19 20:07] klevzoff commented on #136
So it looks like they also fixed it in upstream. If it did make it into 13.0 release, we're going to switch to that hopefully soon enough and the problem will be fixed. Otherwise, we might need to make our own patch.

In the meantime, trying a pre-4.3 make would be a workaround, if feasible without breaking your whole system.

[2020-10-19 20:09] ishovkun commented on #136
@klevzoff Which one do you suggest to go with? https://ftp.gnu.org/gnu/make/

[2020-10-19 20:18] klevzoff commented on #136
4.2.1 definitely works and is the closest to the one you have, so I'd suggest that perhaps

[2020-10-19 20:23] ishovkun commented on #136
So I compiled my own make (4.2.1) and used it during `/path/to/make-4.2.1/make trilinos`. I get literally the same errors.
Maybe I should cmake to this make instance prior to pyhon2 configure script invocation?

[2020-10-19 20:32] corbett5 commented on #136
I think you'd need to put it in your path so that `which make` returns your make 4.2.1 and not the system make 4.3. This might be tricky.

[2020-10-19 21:06] ishovkun commented on #136
OK, so I did
[code]
I confirm that Trilinos compiles. Thank you @corbett5 and @klevzoff so much for your help.
I will confirm in the chat if I am able to build the whole TPL repo.

[2020-10-19 21:06] #136 closed

[2020-10-29 00:03] TotoGaz commented on #122
`spack` makes this issue irrelevant.

[2020-10-29 00:03] #122 closed

[2020-11-17 16:04] johnsgit9 opened #137 "Compile Error"
I'm having difficult compiling the third party libs on Ubuntu 18.04.5 LTS. The config-build.py script seems to have worked well (apart from three of lines of lapack errors, which occur despite liblapack-dev being installed). The output is here :
[config-build-output.txt](https://github.com/GEOSX/thirdPartyLibs/files/5554616/config-build-output.txt)

The failure seems to occur when the VTK library

[2020-12-04 08:56] johnsgit9 commented on #137
My computer is over polluted with old package installations (at the moment I need this due to other projects). The solution was to create a docker to have complete control over the installed packages. The files needed are here:
[docker_GEOSX.zip](https://github.com/GEOSX/thirdPartyLibs/files/5641562/docker_GEOSX.zip)

The docker package needs to be [installed](https://docs.docker.com/engine/instal

[2020-12-04 08:56] #137 closed

[2021-01-13 16:57] TotoGaz commented on #28
Do we really want to address this in a close (?) future?
Current directions do not aim this, so I would close the issue for the moment.
It hasn't moved for ages and this will not change.

[2021-02-16 01:41] lijun1234 opened #149 "GEOSX compile fail because of mssing umpire directory."
Hi There,

Follow [the instruction](https://geosx-geosx.readthedocs-hosted.com/en/latest/docs/sphinx/QuickStart.html#download) to finish the third party build successfully. I ran config-build.py to generate GEOSX build folder but failed with the error about umpire, Lines between 206 and 220 in "GEOSX/src/cmake/thirdparty/SetupGeosxThirdParty.cmake" show Umpire is a required 3rd party lib.
However

[2021-02-16 02:41] klevzoff commented on #149
Hi @lijun1234 ,

Umpire is normally built and installed automatically as a dependency of CHAI and located under the same path. You can check if `libumpire.a` is indeed found under `thirdPartyLibs/install--release/chai/lib`.

Depending on how you configure your GEOSX build:
  * If you only specify `GEOSX_TPL_DIR=/path/to/thirdPartyLibs/install--release`, make sure you `include(/path/to/GEOSX/host-c

[2021-02-16 03:43] lijun1234 commented on #149
Hi @klevzoff,

Thank you for the quick responding. I use the second method.

As you pointed, after setting UMPIRE_DIR same as CHAI_DIR, the build folder can be successfully created. Make and make install also pass. Now I can run geosx binary file.  Gave this project a star since I do see awsome developer behind.

[2021-02-16 03:43] #149 closed

[2021-07-11 18:14] ouassimk opened #157 "Chai/umpaire cmake issue on macos: No known features for CXX compiler"
Hi,
I wasn't able to build **chai** library on a macos machine following the steps on [Quick start guide](https://geosx-geosx.readthedocs-hosted.com/en/latest/docs/sphinx/QuickStart.html#download). I also checked [Third party dependencies](https://geosx-geosx.readthedocs-hosted.com/en/latest/docs/sphinx/buildGuide/Dependencies.html). The error happens when I run `make` inside `build--release` fold

[2021-07-14 08:28] klevzoff commented on #157
Hey @ouassimk ,

Could you try checking out the branch from https://github.com/GEOSX/thirdPartyLibs/pull/158 and clean-rebuilding CHAI?
Something like
[code]
should be sufficient (or you can just do a full rebuild from scratch). Let us know if it fixes the problem. If it does, you should then be able to continue building TPLs with just `make`.

Long story short, seems none of the developers of CHA

[2021-07-15 19:55] ouassimk commented on #157
Thank you Sergey, it worked perfectly 👍, I think we can close this issue.

[2021-07-16 22:15] joshua-white commented on #71
Will become irrelevant with spack

[2021-07-16 22:15] #71 closed

[2021-07-16 22:38] #157 closed

[2021-09-07 17:45] tab881 opened #160 "failed to linking CXX shared library libkokkoskernels.so"
When I compile thirdPartyLibs, I met following issues:

[ 44%] Linking CXX shared library libteuchoskokkoscompat.so
[ 44%] Built target teuchoskokkoscompat
[ 44%] Linking CXX shared library libkokkoskernels.so
/usr/bin/ld: /usr/local/lib/libblas.a(sgemv.o): relocation R_X86_64_32 against `.rodata' can not be used when making a shared object; recompile with -fPIC
/usr/local/lib/libblas.a: error add

[2021-09-07 18:33] klevzoff commented on #160
Hi @tab881 ,

If you've built BLAS manually from source, you may need to rebuild it with `-fPIC` added to compiler flags (most likely `FCFLAGS`) and reinstall. If it was installed with a system package manager, I'd suggest making sure both `libblas-dev` and `libblas3` packages are installed (the latter provides shared library that should not have any linking problems).

Let us know if this helps.

[2021-09-13 23:33] tab881 commented on #160
Sorry for the late response. I have successfully installed all the packages based on the solution from this links: https://stackoverflow.com/questions/45691778/cdt-using-lib-a-relocation-r-x86-64-32s-against-symbol-can-not-be-used

Thanks!

[2021-09-13 23:33] #160 closed

[2022-03-21 09:54] DrDaleks opened #181 "Building Doxygen no matter what?"
Hi,
Trying to compile TPLs with doxygen disabled (ENABLE_DOXYGEN OFF), but it still tries to configure the "doxygen" step (filling stuff up into doxygen-build),eventually  complains that some dependency is outdated (in my case bison, but prolly irrelevant here?), and fails to proceed.
Is is just me or is there another flag to change to compile without doxygen altogether?
cheers

[2022-03-21 15:28] rrsettgast commented on #181
Hello,
To avoid building doxygen, there is a cmake variable `GEOSXTPL_ENABLE_DOXYGEN` that you need to set to `OFF`. It is confusing, but the `ENABLE_DOXYGEN` is for `GEOSX` itself.

[2022-03-21 15:37] DrDaleks commented on #181
Makes sense, and honestly didn’t see it at first glance. Many thx!

[2022-05-23 22:34] kcgthb opened #189 "Tags/releases to match GEOSX's?"
Hi,

Would it be possible to create some tags/release versions for the `thirdPartyLibs` repo, so it matches the GEOSX releases?

Right now, GEOSX's latest tagged version is 0.2.0, which explicitly requires Conduit 0.5.0, for instance.
Unfortunately, the TPL repo now contains Conduit 0.8.2, which breaks building `linearAlgebra`.

I know https://github.com/GEOSX/GEOSX/pull/1874 has been recently mer

[2022-05-31 17:55] wrtobin opened #190 "umpire@v2022.03.1 adds fmt as a builtin TPL breaking our build and/or our xml input parsing"
This isn't high priority but I encountered it while working on HIP/Crusher so I'm documenting it:

umpire@v2022.03.1 added fmt as a builtin TPL, and while they name-space wrapped it, the header inclusion preprocessor macros are unchanged and cause GEOSX to fail to compile.

Simply trying to use the umpire builtin version by namespace scoping our fmt usage doesn't work and breaks xml input deck par

[2022-08-26 08:02] XL64 opened #198 "Failing Tests on Pangea3"
The following tests are failing on pangea3 :

60 - testMath (Failed)
107 - testDruckerPrager (Failed)
109 - testModifiedCamClay (Failed)
119 - testLinearAlgebra_KrylovSolvers (Timeout)
149 - testTriaxial_druckerPragerExtended (Failed)
152 - testTriaxial_modifiedCamClay (Failed)
153 - testTriaxial_delftEggUseLinear (Failed)
154 - testTriaxial_modifiedCamClayVolumetric (Failed)
155 - testTriaxial_de

[2022-08-26 08:56] XL64 commented on #198
Output of `ctest --rerun-failed --output-on-failure`
[code]

[2022-08-26 09:18] XL64 commented on #198
For the math part it's some +2pi error which is not an error, we need to compute diff with modulo 2pi.

[2022-08-26 09:48] XL64 commented on #198
https://github.com/GEOSX/LvArray/pull/265 fixing test 60

[2022-08-26 09:49] XL64 commented on #198
Oh I missopened this issue on TPL instead of GEOSX

[2022-09-01 15:46] TotoGaz commented on #198
You can `-> Transfer issue` (bottom of the right pane).

[2022-09-14 23:03] TotoGaz opened #199 "Cannot upload TPLs for mac osx"
`google-cloud-storage` seems to have changed the version of its `protobuf` requirement.
`protobuf` must now be `>=3.20.1`.
`protobuf 3.17.3` is uninstalled and `protobuf-4.21.6` is installed.

This leads to the following error message when uploading the TPL tarball to GCP.
[code]

This therefore blocks the CI/CD.

[2022-10-24 23:45] #199 closed

[2022-11-29 10:51] untereiner opened #210 "compilation issue"
[code]
with gcc 12.2

I solved the problem by adding `#include <limits>` at the top of benchmark_register.h

Did anyone experienced this issue ?